In [2]:
import pandas as pd

In [3]:
data = pd.Series([10, 20, 30, 40, 50, 60, 70])
display(data)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [4]:
data = pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'])

data.values

data.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [5]:
data_series = {
              'Column1' : pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'], dtype = 'int16'),
              'Column2' : pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'], dtype = 'int16') 
              }

data_series

pd.DataFrame(data_series)

   Column1  Column2
a       10       10
b       20       20
c       30       30
d       40       40
e       50       50
f       60       60
g       70       70

In [6]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/movies.csv', sep=',', header = 0)
movies_df

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

In [22]:
movies_df.head()

                                 Film    Genre  ... Worldwide Gross  Year
0          Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                     Youth in Revolt   Comedy  ...         $19.62   2010
2  You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                        When in Rome   Comedy  ...         $43.04   2010
4               What Happens in Vegas   Comedy  ...        $219.37   2008

[5 rows x 8 columns]

In [23]:

movies_df.tail()

                    Film    Genre  ... Worldwide Gross  Year
72   Across the Universe  romance  ...         $29.37   2007
73         A Serious Man    Drama  ...         $30.68   2009
74    A Dangerous Method    Drama  ...          $8.97   2011
75            27 Dresses   Comedy  ...        $160.31   2008
76  (500) Days of Summer   comedy  ...         $60.72   2009

[5 rows x 8 columns]

In [8]:
stock_data = pd.read_excel('https://github.com/ammishra08/MachineLearning/blob/master/Datasets/data_akbilgic.xlsx?raw=true', header = 1)
display(stock_data)

          date       ISE     ISE.1  ...   BOVESPA        EU        EM
0   2009-01-05  0.035754  0.038376  ...  0.031190  0.012698  0.028524
1   2009-01-06  0.025426  0.031813  ...  0.018920  0.011341  0.008773
2   2009-01-07 -0.028862 -0.026353  ... -0.035899 -0.017073 -0.020015
3   2009-01-08 -0.062208 -0.084716  ...  0.028283 -0.005561 -0.019424
4   2009-01-09  0.009860  0.009658  ... -0.009764 -0.010989 -0.007802
..         ...       ...       ...  ...       ...       ...       ...
531 2011-02-16  0.008599  0.013400  ...  0.018371  0.006975  0.003039
532 2011-02-17  0.009310  0.015977  ...  0.001686 -0.000581  0.001039
533 2011-02-18  0.000191 -0.001653  ...  0.005628  0.000572  0.006938
534 2011-02-21 -0.013069 -0.013706  ... -0.011942 -0.012615 -0.000958
535 2011-02-22 -0.007246 -0.019442  ... -0.012252 -0.005465 -0.014297

[536 rows x 10 columns]

In [9]:
movies_df.shape

(77, 8)

In [10]:
movies_df.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [11]:
print("Number of Rows: ", movies_df.shape[0])
print("Number of Columns: ", movies_df.shape[1])

Number of Rows:  77
Number of Columns:  8

In [12]:
# info() - Displays detailed info about the data
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Film               77 non-null     object
 1   Genre              77 non-null     object
 2   Lead Studio        77 non-null     object
 3   Audience score %   77 non-null     int64
 4   Profitability      77 non-null     float64
 5   Rotten Tomatoes %  77 non-null     int64
 6   Worldwide Gross    77 non-null     object
 7   Year               77 non-null     int64
dtypes: float64(1), int64(3), object(4)
memory usage: 4.9+ KB

In [24]:
# Typecasting the Column Data Types
movies_df['Rotten Tomatoes %'] = movies_df['Rotten Tomatoes %'].astype('int16')

In [25]:
movies_df['Rotten Tomatoes %'].dtype

dtype('int16')

In [14]:
# To select multiple columns
movies_df [['Film','Genre','Audience score %','Rotten Tomatoes %']]

                                  Film  ... Rotten Tomatoes %
0           Zack and Miri Make a Porno  ...                64
1                      Youth in Revolt  ...                68
2   You Will Meet a Tall Dark Stranger  ...                43
3                         When in Rome  ...                15
4                What Happens in Vegas  ...                28
..                                 ...  ...               ...
72                 Across the Universe  ...                54
73                       A Serious Man  ...                89
74                  A Dangerous Method  ...                79
75                          27 Dresses  ...                40
76                (500) Days of Summer  ...                87

[77 rows x 4 columns]

In [15]:
# sample() is used to draw random samples from dataset containing all the columns
movies_df.sample( n = 6)

                           Film    Genre  ... Worldwide Gross  Year
14  The Twilight Saga: New Moon    Drama  ...        $709.82   2009
33           Our Family Wedding   Comedy  ...         $21.37   2010
29       Rachel Getting Married    Drama  ...         $16.61   2008
54                   Knocked Up   Comedy  ...           $219   2007
41                  Monte Carlo  Romance  ...         $39.66   2011
39         My Week with Marilyn    Drama  ...          $8.26   2011

[6 rows x 8 columns]

In [16]:
# using frac = 0.1 (10% of overall data)
movies_df.sample(frac = 0.1)

                                  Film      Genre  ... Worldwide Gross  Year
37  Nick and Norah's Infinite Playlist     Comedy  ...         $33.53   2008
75                          27 Dresses     Comedy  ...        $160.31   2008
66          Ghosts of Girlfriends Past     Comedy  ...        $102.22   2009
29              Rachel Getting Married      Drama  ...         $16.61   2008
46                          Mamma Mia!     Comedy  ...        $609.47   2008
60  High School Musical 3: Senior Year     Comedy  ...        $252.04   2008
59           I Love You Phillip Morris     Comedy  ...         $20.10   2010
22                             Tangled  Animation  ...        $355.01   2010

[8 rows x 8 columns]

In [17]:
movies_df.loc[:,:]

                                  Film    Genre  ... Worldwide Gross  Year
0           Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[77 rows x 8 columns]

In [19]:
# slicing only rows
movies_df.loc[10:20,:]

                                   Film    Genre  ... Worldwide Gross  Year
10  Tyler Perry's Why Did I get Married  Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn  Romance  ...        $702.17   2011
12                             Twilight  Romance  ...        $376.66   2008
13                       The Ugly Truth   Comedy  ...        $205.30   2009
14          The Twilight Saga: New Moon    Drama  ...        $709.82   2009
15             The Time Traveler's Wife    Drama  ...        $101.33   2009
16                         The Proposal   Comedy  ...        $314.70   2009
17               The Invention of Lying   Comedy  ...         $32.40   2009
18                   The Heartbreak Kid   Comedy  ...        $127.77   2007
19                          The Duchess    Drama  ...         $43.31   2008
20  The Curious Case of Benjamin Button  Fantasy  ...        $285.43   2008

[11 rows x 8 columns]

In [20]:
movies_df.loc[10:20,['Film','Genre','Audience score %','Rotten Tomatoes %','Year']]

                                   Film    Genre  ...  Rotten Tomatoes %  Year
10  Tyler Perry's Why Did I get Married  Romance  ...                 46  2007
11              Twilight: Breaking Dawn  Romance  ...                 26  2011
12                             Twilight  Romance  ...                 49  2008
13                       The Ugly Truth   Comedy  ...                 14  2009
14          The Twilight Saga: New Moon    Drama  ...                 27  2009
15             The Time Traveler's Wife    Drama  ...                 38  2009
16                         The Proposal   Comedy  ...                 43  2009
17               The Invention of Lying   Comedy  ...                 56  2009
18                   The Heartbreak Kid   Comedy  ...                 30  2007
19                          The Duchess    Drama  ...                 60  2008
20  The Curious Case of Benjamin Button  Fantasy  ...                 73  2008

[11 rows x 5 columns]

In [21]:

movies_df.loc[10:20,'Film':'Profitability']

                                   Film  ... Profitability
10  Tyler Perry's Why Did I get Married  ...      3.724192
11              Twilight: Breaking Dawn  ...      6.383364
12                             Twilight  ...     10.180027
13                       The Ugly Truth  ...      5.402632
14          The Twilight Saga: New Moon  ...     14.196400
15             The Time Traveler's Wife  ...      2.598205
16                         The Proposal  ...      7.867500
17               The Invention of Lying  ...      1.751351
18                   The Heartbreak Kid  ...      2.129444
19                          The Duchess  ...      3.207850
20  The Curious Case of Benjamin Button  ...      1.783944

[11 rows x 5 columns]

In [26]:
# iloc - Uses index values to slice data 
# slicing only rows
movies_df.iloc[10:20,:]

                                   Film    Genre  ... Worldwide Gross  Year
10  Tyler Perry's Why Did I get Married  Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn  Romance  ...        $702.17   2011
12                             Twilight  Romance  ...        $376.66   2008
13                       The Ugly Truth   Comedy  ...        $205.30   2009
14          The Twilight Saga: New Moon    Drama  ...        $709.82   2009
15             The Time Traveler's Wife    Drama  ...        $101.33   2009
16                         The Proposal   Comedy  ...        $314.70   2009
17               The Invention of Lying   Comedy  ...         $32.40   2009
18                   The Heartbreak Kid   Comedy  ...        $127.77   2007
19                          The Duchess    Drama  ...         $43.31   2008

[10 rows x 8 columns]

In [27]:
movies_df.iloc[10:20,0:6]

                                   Film  ... Rotten Tomatoes %
10  Tyler Perry's Why Did I get Married  ...                46
11              Twilight: Breaking Dawn  ...                26
12                             Twilight  ...                49
13                       The Ugly Truth  ...                14
14          The Twilight Saga: New Moon  ...                27
15             The Time Traveler's Wife  ...                38
16                         The Proposal  ...                43
17               The Invention of Lying  ...                56
18                   The Heartbreak Kid  ...                30
19                          The Duchess  ...                60

[10 rows x 6 columns]

In [28]:
# Last Column
movies_df.iloc[10:25, -1]

10    2007
11    2011
12    2008
13    2009
14    2009
15    2009
16    2009
17    2009
18    2007
19    2008
20    2008
21    2010
22    2010
23    2011
24    2010
Name: Year, dtype: int64

In [29]:
# Slicing with strides = 2
movies_df.iloc[10:25:2, 0:7:2]

                                   Film  ... Worldwide Gross
10  Tyler Perry's Why Did I get Married  ...         $55.86
12                             Twilight  ...        $376.66
14          The Twilight Saga: New Moon  ...        $709.82
16                         The Proposal  ...        $314.70
18                   The Heartbreak Kid  ...        $127.77
20  The Curious Case of Benjamin Button  ...        $285.43
22                              Tangled  ...        $355.01
24               She's Out of My League  ...         $48.81

[8 rows x 4 columns]

In [30]:
# Slicing with strides = 2
movies_df.iloc[10:25:2, 0::2]

                                   Film  ... Worldwide Gross
10  Tyler Perry's Why Did I get Married  ...         $55.86
12                             Twilight  ...        $376.66
14          The Twilight Saga: New Moon  ...        $709.82
16                         The Proposal  ...        $314.70
18                   The Heartbreak Kid  ...        $127.77
20  The Curious Case of Benjamin Button  ...        $285.43
22                              Tangled  ...        $355.01
24               She's Out of My League  ...         $48.81

[8 rows x 4 columns]

In [31]:
movies_df.filter(like = 'a')

              Lead Studio  Profitability  Rotten Tomatoes %  Year
0   The Weinstein Company       1.747542                 64  2008
1   The Weinstein Company       1.090000                 68  2010
2             Independent       1.211818                 43  2010
3                  Disney       0.000000                 15  2010
4                     Fox       6.267647                 28  2008
..                    ...            ...                ...   ...
72            Independent       0.652603                 54  2007
73              Universal       4.382857                 89  2009
74            Independent       0.448645                 79  2011
75                    Fox       5.343622                 40  2008
76                    Fox       8.096000                 87  2009

[77 rows x 4 columns]

In [32]:
movies_df.filter(like = 'A').head()

   Audience score %
0                70
1                52
2                35
3                44
4                72

In [33]:
# Logical Operator
movies_df[movies_df.Genre == 'Romance']

                                   Film    Genre  ... Worldwide Gross  Year
0            Zack and Miri Make a Porno  Romance  ...         $41.94   2008
7                              Waitress  Romance  ...         $22.18   2007
8                   Waiting For Forever  Romance  ...          $0.03   2011
10  Tyler Perry's Why Did I get Married  Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn  Romance  ...        $702.17   2011
12                             Twilight  Romance  ...        $376.66   2008
23                   Something Borrowed  Romance  ...         $60.18   2011
31                      P.S. I Love You  Romance  ...        $153.09   2007
34                              One Day  Romance  ...         $55.24   2011
38                       New Year's Eve  Romance  ...        $142.04   2011
40                     Music and Lyrics  Romance  ...        $145.90   2007
41                          Monte Carlo  Romance  ...         $39.66   2011
57                            Jane Eyre  Romance  ...         $30.15   2011

[13 rows x 8 columns]

In [34]:
movies_df[movies_df.Genre != 'Romance']

                                  Film    Genre  ... Worldwide Gross  Year
1                      Youth in Revolt   Comedy  ...         $19.62   2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...         $26.66   2010
3                         When in Rome   Comedy  ...         $43.04   2010
4                What Happens in Vegas   Comedy  ...        $219.37   2008
5                  Water For Elephants    Drama  ...        $117.09   2011
..                                 ...      ...  ...             ...   ...
72                 Across the Universe  romance  ...         $29.37   2007
73                       A Serious Man    Drama  ...         $30.68   2009
74                  A Dangerous Method    Drama  ...          $8.97   2011
75                          27 Dresses   Comedy  ...        $160.31   2008
76                (500) Days of Summer   comedy  ...         $60.72   2009

[64 rows x 8 columns]

In [35]:
movies_df[(movies_df.Genre != 'Romance') & (movies_df['Audience score %'] > 70)]

                                   Film      Genre  ... Worldwide Gross  Year
4                 What Happens in Vegas     Comedy  ...        $219.37   2008
5                   Water For Elephants      Drama  ...        $117.09   2011
6                                WALL-E  Animation  ...        $521.28   2008
14          The Twilight Saga: New Moon      Drama  ...        $709.82   2009
16                         The Proposal     Comedy  ...        $314.70   2009
20  The Curious Case of Benjamin Button    Fantasy  ...        $285.43   2008
22                              Tangled  Animation  ...        $355.01   2010
27                     Sex and the City     Comedy  ...        $415.25   2008
30                             Penelope     Comedy  ...         $20.74   2008
39                 My Week with Marilyn      Drama  ...          $8.26   2011
43                    Midnight in Paris    Romence  ...        $148.66   2011
44                        Marley and Me     Comedy  ...        $206.07   2008
45                           Mamma Mia!     Comedy  ...        $609.47   2008
46                           Mamma Mia!     Comedy  ...        $609.47   2008
54                           Knocked Up     Comedy  ...           $219   2007
60   High School Musical 3: Senior Year     Comedy  ...        $252.04   2008
69                            Enchanted     Comedy  ...        $340.49   2007
71                            Beginners     Comedy  ...         $14.31   2011
72                  Across the Universe    romance  ...         $29.37   2007
74                   A Dangerous Method      Drama  ...          $8.97   2011
75                           27 Dresses     Comedy  ...        $160.31   2008
76                 (500) Days of Summer     comedy  ...         $60.72   2009

[22 rows x 8 columns]

In [36]:
movies_df[(movies_df.Genre == 'Romance') | (movies_df['Rotten Tomatoes %'] > 90)]

                                   Film      Genre  ... Worldwide Gross  Year
0            Zack and Miri Make a Porno    Romance  ...         $41.94   2008
6                                WALL-E  Animation  ...        $521.28   2008
7                              Waitress    Romance  ...         $22.18   2007
8                   Waiting For Forever    Romance  ...          $0.03   2011
10  Tyler Perry's Why Did I get Married    Romance  ...         $55.86   2007
11              Twilight: Breaking Dawn    Romance  ...        $702.17   2011
12                             Twilight    Romance  ...        $376.66   2008
23                   Something Borrowed    Romance  ...         $60.18   2011
31                      P.S. I Love You    Romance  ...        $153.09   2007
34                              One Day    Romance  ...         $55.24   2011
38                       New Year's Eve    Romance  ...        $142.04   2011
40                     Music and Lyrics    Romance  ...        $145.90   2007
41                          Monte Carlo    Romance  ...         $39.66   2011
43                    Midnight in Paris    Romence  ...        $148.66   2011
54                           Knocked Up     Comedy  ...           $219   2007
57                            Jane Eyre    Romance  ...         $30.15   2011
69                            Enchanted     Comedy  ...        $340.49   2007

[17 rows x 8 columns]

In [37]:
movies_df[(movies_df['Rotten Tomatoes %'] > 90) | (movies_df['Rotten Tomatoes %'] < 30) ]

                           Film      Genre  ... Worldwide Gross  Year
3                  When in Rome     Comedy  ...         $43.04   2010
4         What Happens in Vegas     Comedy  ...        $219.37   2008
6                        WALL-E  Animation  ...        $521.28   2008
8           Waiting For Forever    Romance  ...          $0.03   2011
9               Valentine's Day     Comedy  ...        $217.57   2010
11      Twilight: Breaking Dawn    Romance  ...        $702.17   2011
13               The Ugly Truth     Comedy  ...        $205.30   2009
14  The Twilight Saga: New Moon      Drama  ...        $709.82   2009
21             The Back-up Plan     Comedy  ...         $77.09   2010
23           Something Borrowed    Romance  ...         $60.18   2011
25         Sex and the City Two     Comedy  ...        $288.35   2010
26           Sex and the City 2     Comedy  ...        $288.35   2010
28                  Remember Me      Drama  ...         $55.86   2010
31              P.S. I Love You    Romance  ...        $153.09   2007
32           Over Her Dead Body     Comedy  ...         $20.71   2008
33           Our Family Wedding     Comedy  ...         $21.37   2010
38               New Year's Eve    Romance  ...        $142.04   2011
43            Midnight in Paris    Romence  ...        $148.66   2011
47                Made of Honor      Comdy  ...        $105.96   2008
48                 Love Happens      Drama  ...         $36.08   2009
50           Life as We Know It     Comedy  ...         $96.16   2010
51               License to Wed     Comedy  ...         $69.31   2007
53                    Leap Year     Comedy  ...         $32.59   2010
54                   Knocked Up     Comedy  ...           $219   2007
55                      Killers     Action  ...         $93.40   2010
62              Good Luck Chuck     Comedy  ...         $59.19   2007
66   Ghosts of Girlfriends Past     Comedy  ...        $102.22   2009
67             Four Christmases     Comedy  ...        $161.83   2008
69                    Enchanted     Comedy  ...        $340.49   2007
70                    Dear John      Drama  ...        $114.97   2010

[30 rows x 8 columns]

In [38]:
movies_df['Profitability'].sort_values()

3      0.000000
33     0.000000
57     0.000000
8      0.005000
42     0.252895
        ...
12    10.180027
7     11.089741
14    14.196400
60    22.913136
68    66.934000
Name: Profitability, Length: 77, dtype: float64

In [39]:
# Descending Order
movies_df['Profitability'].sort_values(ascending = False)

68    66.934000
60    22.913136
14    14.196400
7     11.089741
12    10.180027
        ...
42     0.252895
8      0.005000
57     0.000000
33     0.000000
3      0.000000
Name: Profitability, Length: 77, dtype: float64

In [40]:
movies_df.sort_values(by = 'Audience score %', ascending = False)

                                  Film      Genre  ... Worldwide Gross  Year
74                  A Dangerous Method      Drama  ...          $8.97   2011
6                               WALL-E  Animation  ...        $521.28   2008
22                             Tangled  Animation  ...        $355.01   2010
39                My Week with Marilyn      Drama  ...          $8.26   2011
72                 Across the Universe    romance  ...         $29.37   2007
..                                 ...        ...  ...             ...   ...
55                             Killers     Action  ...         $93.40   2010
3                         When in Rome     Comedy  ...         $43.04   2010
18                  The Heartbreak Kid     Comedy  ...        $127.77   2007
48                        Love Happens      Drama  ...         $36.08   2009
2   You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010

[77 rows x 8 columns]

In [41]:
movies_df.sort_values(by = 'Audience score %', ascending = False)

                                  Film      Genre  ... Worldwide Gross  Year
74                  A Dangerous Method      Drama  ...          $8.97   2011
6                               WALL-E  Animation  ...        $521.28   2008
22                             Tangled  Animation  ...        $355.01   2010
39                My Week with Marilyn      Drama  ...          $8.26   2011
72                 Across the Universe    romance  ...         $29.37   2007
..                                 ...        ...  ...             ...   ...
55                             Killers     Action  ...         $93.40   2010
3                         When in Rome     Comedy  ...         $43.04   2010
18                  The Heartbreak Kid     Comedy  ...        $127.77   2007
48                        Love Happens      Drama  ...         $36.08   2009
2   You Will Meet a Tall Dark Stranger     Comedy  ...         $26.66   2010

[77 rows x 8 columns]

In [42]:
# Find the unique elements from each columns
movies_df['Audience score %'].unique()

array([70, 52, 35, 44, 72, 89, 67, 53, 54, 47, 68, 82, 78, 65, 74, 41, 81,
       88, 48, 60, 49, 61, 66, 64, 84, 50, 77, 76, 40, 55, 62, 83, 45, 58,
       63, 57, 56, 51, 80, 71])

In [43]:
# Find the unique elements from each columns
movies_df['Audience score %'].sort_values().unique()

array([35, 40, 41, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
       60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 74, 76, 77, 78, 80,
       81, 82, 83, 84, 88, 89])

In [44]:
movies_df['Genre'].unique()

array(['Romance', 'Comedy', 'Drama', 'Animation', 'Fantasy', 'Romence',
       'Comdy', 'Action', 'romance', 'comedy'], dtype=object)

In [45]:
# Dropping a row with index = 0 , default is axis = 0 
movies_df.drop(2)

                          Film    Genre  ... Worldwide Gross  Year
0   Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1              Youth in Revolt   Comedy  ...         $19.62   2010
3                 When in Rome   Comedy  ...         $43.04   2010
4        What Happens in Vegas   Comedy  ...        $219.37   2008
5          Water For Elephants    Drama  ...        $117.09   2011
..                         ...      ...  ...             ...   ...
72         Across the Universe  romance  ...         $29.37   2007
73               A Serious Man    Drama  ...         $30.68   2009
74          A Dangerous Method    Drama  ...          $8.97   2011
75                  27 Dresses   Comedy  ...        $160.31   2008
76        (500) Days of Summer   comedy  ...         $60.72   2009

[76 rows x 8 columns]

In [48]:
# Dropping a row with index = 0 , default is axis = 0 
movies_df.drop([2,4,6,8,10], axis = 0)

                          Film    Genre  ... Worldwide Gross  Year
0   Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1              Youth in Revolt   Comedy  ...         $19.62   2010
3                 When in Rome   Comedy  ...         $43.04   2010
5          Water For Elephants    Drama  ...        $117.09   2011
7                     Waitress  Romance  ...         $22.18   2007
..                         ...      ...  ...             ...   ...
72         Across the Universe  romance  ...         $29.37   2007
73               A Serious Man    Drama  ...         $30.68   2009
74          A Dangerous Method    Drama  ...          $8.97   2011
75                  27 Dresses   Comedy  ...        $160.31   2008
76        (500) Days of Summer   comedy  ...         $60.72   2009

[72 rows x 8 columns]

In [47]:
# Dropping a row with index = 0 , default is axis = 0 
movies_df.drop([2,4,6,8,10])

                          Film    Genre  ... Worldwide Gross  Year
0   Zack and Miri Make a Porno  Romance  ...         $41.94   2008
1              Youth in Revolt   Comedy  ...         $19.62   2010
3                 When in Rome   Comedy  ...         $43.04   2010
5          Water For Elephants    Drama  ...        $117.09   2011
7                     Waitress  Romance  ...         $22.18   2007
..                         ...      ...  ...             ...   ...
72         Across the Universe  romance  ...         $29.37   2007
73               A Serious Man    Drama  ...         $30.68   2009
74          A Dangerous Method    Drama  ...          $8.97   2011
75                  27 Dresses   Comedy  ...        $160.31   2008
76        (500) Days of Summer   comedy  ...         $60.72   2009

[72 rows x 8 columns]

In [54]:
# Dropping a Column using Column Names , axis = 1 as these names are found in axis 1 that is heading
movies_df.drop(['Lead Studio','Worldwide Gross'], axis =1)

                                  Film    Genre  ...  Rotten Tomatoes %  Year
0           Zack and Miri Make a Porno  Romance  ...                 64  2008
1                      Youth in Revolt   Comedy  ...                 68  2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...                 43  2010
3                         When in Rome   Comedy  ...                 15  2010
4                What Happens in Vegas   Comedy  ...                 28  2008
..                                 ...      ...  ...                ...   ...
72                 Across the Universe  romance  ...                 54  2007
73                       A Serious Man    Drama  ...                 89  2009
74                  A Dangerous Method    Drama  ...                 79  2011
75                          27 Dresses   Comedy  ...                 40  2008
76                (500) Days of Summer   comedy  ...                 87  2009

[77 rows x 6 columns]

In [49]:
# Dropping a Column using Column Names , axis = 1
movies_df.drop(['Lead Studio','Worldwide Gross'], axis = 1)

                                  Film    Genre  ...  Rotten Tomatoes %  Year
0           Zack and Miri Make a Porno  Romance  ...                 64  2008
1                      Youth in Revolt   Comedy  ...                 68  2010
2   You Will Meet a Tall Dark Stranger   Comedy  ...                 43  2010
3                         When in Rome   Comedy  ...                 15  2010
4                What Happens in Vegas   Comedy  ...                 28  2008
..                                 ...      ...  ...                ...   ...
72                 Across the Universe  romance  ...                 54  2007
73                       A Serious Man    Drama  ...                 89  2009
74                  A Dangerous Method    Drama  ...                 79  2011
75                          27 Dresses   Comedy  ...                 40  2008
76                (500) Days of Summer   comedy  ...                 87  2009

[77 rows x 6 columns]

In [55]:
 movies_df.drop(['Lead Studio','Worldwide Gross'], axis = 1, inplace = True)

In [56]:
movies_df['Genre'].value_counts()

Comedy       41
Drama        13
Romance      13
Animation     4
comedy        1
Comdy         1
Action        1
Fantasy       1
romance       1
Romence       1
Name: Genre, dtype: int64

In [57]:
movies_df['Lead Studio'].value_counts()

KeyError: ignored

In [58]:
movies_df.drop_duplicates(inplace = True)

In [59]:
movies_new = movies_df.set_index('Film')

In [60]:
movies_new

                                      Genre  ...  Year
Film                                         ...
Zack and Miri Make a Porno          Romance  ...  2008
Youth in Revolt                      Comedy  ...  2010
You Will Meet a Tall Dark Stranger   Comedy  ...  2010
When in Rome                         Comedy  ...  2010
What Happens in Vegas                Comedy  ...  2008
...                                     ...  ...   ...
Across the Universe                 romance  ...  2007
A Serious Man                         Drama  ...  2009
A Dangerous Method                    Drama  ...  2011
27 Dresses                           Comedy  ...  2008
(500) Days of Summer                 comedy  ...  2009

[75 rows x 5 columns]

In [61]:
# Slicing the rows
movies_new.loc['Across the Universe':'(500) Days of Summer']

                        Genre  Audience score %  ...  Rotten Tomatoes %  Year
Film                                             ...
Across the Universe   romance                84  ...                 54  2007
A Serious Man           Drama                64  ...                 89  2009
A Dangerous Method      Drama                89  ...                 79  2011
27 Dresses             Comedy                71  ...                 40  2008
(500) Days of Summer   comedy                81  ...                 87  2009

[5 rows x 5 columns]

finished upto this

In [ ]:
# A pandas series have indexes & values
data = pd.Series([10, 20, 30, 40, 50, 60, 70])
display(data)

data = pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'])

data.values

data.index

# Collection of Series
data_series = {
              'Column1' : pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'], dtype = 'int16'),
              'Column2' : pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'], dtype = 'int16') 
              }

data_series

pd.DataFrame(data_series)

movies_df = pd.read_csv('https://raw.githubusercontent.com/ammishra08/MachineLearning/master/Datasets/movies.csv', sep=',', header = 0)
movies_df

# head() - Display first five rows, tail() displays last 5 rows of DF
movies_df.head()

movies_df.tail()

# Read an excel file
stock_data = pd.read_excel('https://github.com/ammishra08/MachineLearning/blob/master/Datasets/data_akbilgic.xlsx?raw=true', header = 1)
display(stock_data)

# Display Shape (rows, columns)
movies_df.shape

# Display the columns
movies_df.columns

print("Number of Rows: ", movies_df.shape[0])
print("Number of Columns: ", movies_df.shape[1])

# info() - Displays detailed info about the data
movies_df.info()

# Typecasting the Column Data Types
movies_df['Rotten Tomatoes %'] = movies_df['Rotten Tomatoes %'].astype('int16')

movies_df['Rotten Tomatoes %'].dtype

# To select multiple columns
movies_df [['Film','Genre','Audience score %','Rotten Tomatoes %']]

# sample() is used to draw random samples from dataset containing all the columns
movies_df.sample( n = 6)

# using frac = 0.1 (10% of overall data)
movies_df.sample(frac = 0.1)

movies_df.loc[:,:]

# slicing only rows
movies_df.loc[10:20,:]

movies_df.loc[10:20,'Film':'Profitability']

movies_df.loc[10:20,['Film','Genre','Audience score %','Rotten Tomatoes %','Year']]

# iloc - Uses index values to slice data 
# slicing only rows
movies_df.iloc[10:20,:]

movies_df.iloc[10:20,0:6]

# Last Column
movies_df.iloc[10:25, -1]

# Slicing with strides = 2
movies_df.iloc[10:25:2, 0:7:2]

# Slicing with strides = 2
movies_df.iloc[10:25:2, 0::2]

movies_df.filter(like = 'a')

movies_df.filter(like = 'A').head()

# Logical Operator
movies_df[movies_df.Genre == 'Romance']

movies_df[movies_df.Genre != 'Romance']

movies_df[(movies_df.Genre != 'Romance') & (movies_df['Audience score %'] > 70)]

movies_df[(movies_df.Genre == 'Romance') | (movies_df['Rotten Tomatoes %'] > 90)]

movies_df[(movies_df['Rotten Tomatoes %'] > 90) | (movies_df['Rotten Tomatoes %'] < 30) ]

movies_df['Profitability'].sort_values()

# Descending Order
movies_df['Profitability'].sort_values(ascending = False)

movies_df.sort_values(by = 'Audience score %', ascending = False)

movies_df.sort_values(by = 'Audience score %', ascending = False)

# Find the unique elements from each columns
movies_df['Audience score %'].unique()

# Find the unique elements from each columns
movies_df['Audience score %'].sort_values().unique()

movies_df['Genre'].unique()

# Dropping a row with index = 0 , default is axis = 0 
movies_df.drop(2)

# Dropping a row with index = 0 , default is axis = 0 
movies_df.drop([2,4,6,8,10], axis = 0)

# Dropping a Column using Column Names , axis = 1
movies_df.drop(['Lead Studio','Worldwide Gross'], axis = 1)

# movies_df.drop(['Lead Studio','Worldwide Gross'], axis = 1, inplace = True)

movies_df['Genre'].value_counts()

movies_df['Lead Studio'].value_counts()

movies_df.drop_duplicates(inplace = True)

movies_new = movies_df.set_index('Film')
movies_new

# Slicing the rows
movies_new.loc['Across the Universe':'(500) Days of Summer'] 

# Collection of Series
data_series = {
              'Column1' : pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','h'], dtype = 'int16'),
              'Column2' : pd.Series([10, 20, 30, 40, 50, 60, 70], index = ['a','b','c','d','e','f','g'], dtype = 'int16') 
              }

df = pd.DataFrame(data_series)
df

df.isnull().sum()

df[df['Column1'].isnull() == True]

df[df['Column2'].isnull() == True]

# Line Plot
movies_df['Rotten Tomatoes %'].plot(figsize = (12,7))

stock_data['ISE'].plot(figsize = (12,7))